# <IfModule mod_rewrite.c>
#     <IfModule mod_negotiation.c>
#         Options -MultiViews
#     </IfModule>

#     RewriteEngine On

#     # Kalau file atau folder ada, langsung load
#     RewriteCond %{REQUEST_FILENAME} -d [OR]
#     RewriteCond %{REQUEST_FILENAME} -f
#     RewriteRule ^ - [L]

#     # Kalau request mengandung ekstensi file (.css, .js, dll), arahkan ke public/
#     RewriteCond %{REQUEST_URI} (\.\w+$) [NC]
#     RewriteRule ^(.*)$ public/$1 [L]

#     # Kalau bukan file/folder, lempar ke public/index.php
#     RewriteCond %{REQUEST_FILENAME} !-d
#     RewriteCond %{REQUEST_FILENAME} !-f
#     RewriteRule ^ public/index.php [L]
# </IfModule>

<IfModule mod_rewrite.c> 
  <IfModule mod_negotiation.c> 
    Options -MultiViews 
  </IfModule> 
  
  RewriteEngine On 
  RewriteCond %{REQUEST_FILENAME} -d [OR] 
  RewriteCond %{REQUEST_FILENAME} -f 
  RewriteRule ^ ^$1 [N] 
  
  RewriteCond %{REQUEST_URI} (\.\w+$) [NC] 
  RewriteRule ^(.*)$ public/$1 
  RewriteCond %{REQUEST_FILENAME} !-d 
  RewriteCond %{REQUEST_FILENAME} !-f 
  RewriteRule ^ server.php 
</IfModule>